<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300979939780-j5prmvsqitb3161lskublvedp6avoh5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300979939780-j5prmvsqitb3161lskublvedp6avoh5t</string>
	<key>API_KEY</key>
	<string>AIzaSyDVzePmOD895vbyvPYlUS8Om_vrVisavSk</string>
	<key>GCM_SENDER_ID</key>
	<string>300979939780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.GoodEats</string>
	<key>PROJECT_ID</key>
	<string>goodeats-9d3f9</string>
	<key>STORAGE_BUCKET</key>
	<string>goodeats-9d3f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300979939780:ios:cfa69493e6be0eab3c5c91</string>
</dict>
</plist>